<main id="button-carousel">
    <section class="item">
        <div class="item_top">
            <img class="item_img" src="../../src/img/menu_items/menu_item_1.png" alt="">
        </div>
        <div class="item_bot">
            <h2>Nutrition</h2>
        </div>
    </section>
    <section class="item">
        <div class="item_top">
            <img class="item_img" src="../../src/img/menu_items/foto1.png" alt="">
        </div>
        <div class="item_bot">
            <h2>Sleep</h2>
        </div>
    </section>
    <section class="item">
        <div class="item_top">
            <img class="item_img" src="../../src/img/menu_items/foto2.png" alt="">
        </div>
        <div class="item_bot">
            <h2>Mental Health</h2>
        </div>
    </section>
    <section class="item">
        <div class="item_top">
            <img class="item_img" src="../../src/img/menu_items/foto3.png" alt="">
        </div>
        <div class="item_bot">
            <h2>Fitness</h2>
        </div>
    </section>
    <section class="item">
        <div class="item_top">
            <img class="item_img" src="../../src/img/menu_items/foto4.png" alt="">
        </div>
        <div class="item_bot">
            <h2>Products</h2>
        </div>
    </section>
</main>
