<main id="problem">
    <section id="problem1">
        <div id="textbox">

        </div>
        <div id="imagebox">
            <img id="image-imagebox" src="src/img/image1.png" alt="">
        </div>
    </section>


</main>

<style>

#image-imagebox {
    height: 300px;
    border-radius: 20px;
}

#problem {
    width: 100vw;
    height: 800px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    background-color: #E2FFE8;
}
#problem1 {
    width: 100vw;
    height: 400px;
    display: flex;
}

#textbox {
    background-color: #E2FFE8;;
    width: 50vw;
    height: 400px;
}
#imagebox {
    width: 50vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}


</style>